
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'materialize.scss';


nav{
	.brand-logo{
		margin-left:2%;
	}
	div{
		form{
			margin-left:700px;
			margin-right:300px;
		}
	}
	
}

.parallax, .parallax-container{
	background:rgba(0,0,0,0.8);
	background-size:250%;
}


#nav{
	div{
		margin-top:2%;
		font-size:$h5-fontsize;
	}
}

.dropdown-content{
	min-width: 200px;
	margin:0%;
	margin-left: -1px;
	z-index: 1;
	max-height: auto;
	padding-top:3%;
	background:none;
	li{
	background:white;
	}
}

#sidenavelements{
	margin-top:4.8%;
	z-index:0;
}

.main{
	padding-top:2%;
 	padding-left: 300px;
}

.col{
	.card{
		padding:2%;
		span{
			text-align:center;
		}
	}
}




@media #{$medium-and-down} {
	nav{
		.brand-logo{
			margin-left:0px;
		}
	}

	#nav{
		div{
			margin-top:2%;
			font-size:$h5-fontsize;
		}
	}

	.main{
		padding-left:0px;
	}
}